<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>
			BlogHunter
		</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap" rel="stylesheet" />
	</head>
	<body
		style="margin: 0; padding: 0; box-sizing: border-box; font-family: 'Open Sans', sans-serif; color: #1e293b; min-height: 100%;"
	>
		<table
			role="presentation"
			width="100%"
			border="0"
			cellspacing="0"
			cellpadding="0"
			style="max-width: 600px; margin: auto; border: 0; padding: 20px 0;"
		>
			<tr>
				<td align="center">
					<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td align="center" style="padding: 0 24px;">
								<p style="text-align: center; font-size: 20px; font-weight: 600;">
									You forgot your password ?
								</p>
								<p style="text-align: center; font-size: 14px; margin-bottom: 6px; line-height: 1.5;">
									But don't worry! You can use the following link to reset your password
								</p>
							</td>
						</tr>
						<tr>
							<td align="center" style="padding: 5px 24px;">
								<table role="presentation" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td align="center">
											<a
												href="{{url}}"
												target="_blank"
												style="text-decoration: none; font-size: 14px; padding: 14px 28px; color: white; font-weight: 500; background-color: #2563eb; border-radius: 8px; display: inline-block; cursor: pointer"
											>Reset password</a>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td align="center" style="padding: 0 24px; margin: 12px 0 0 0;">
								<p style="font-size: 13px; ">
									If this is a mistake, just ignore this email and nothing will happen.
								</p>
							</td>
						</tr>
						<tr>
							<td align="center" style="padding: 0 24px; margin: 8px 0 0 0;">
								<p style="font-size: 13px; font-weight: 500 ">
									Warning: This link is only valid for 1 hour.
								</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>